/* styles used by elements we append to DOM in content_script.js, or whatever */

div.funModal {
	background-color:rgba(0,0,0,0.4);
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:5000000;
}
div.funModal div {
	background-color:rgb(255,255,255);
	border-radius:15px;
	box-shadow:0px 0px 25px rgb(0,0,0);
	height:20%;
	left:35%;
	position:absolute;
	top:40%;
	width:30%;
	z-index:5000001;
}
